* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  line-height: 1.6;
  background-color: #bcf3ff;
  color: #333;
}

header {
  background-color: #28a2ff;
  padding: 1rem;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem;
}



.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.project-card {
  width: 300px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}
.project-links {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}

.project-links a {
  background-color: #d62828;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.project-links a:hover {
  background-color: #a61e1e;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #122592;
  color: white;
}